<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习广场</title>
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/buefy.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="home">
        <div class="container">
            <template>
                <b-navbar type="is-light" fixed-top>
                    <template slot="brand">
                        <b-navbar-item>
                            <img src="image/logo.png" alt="易学习">
                        </b-navbar-item>
                    </template>
                    <template slot="start">
                        <b-navbar-item href="#">
                            课程库
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            VIP
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            充值
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            师资
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            社区
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            积分商城
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            积分商城
                        </b-navbar-item>
                        <b-navbar-dropdown label="帮助">
                            <b-navbar-item href="#">
                                关于
                            </b-navbar-item>
                            <b-navbar-item href="#">
                                联系我们
                            </b-navbar-item>
                        </b-navbar-dropdown>
                    </template>

                    <template slot="end">
                        <b-navbar-item tag="div">
                            <div class="buttons">
                                <a class="button is-primary">
                                    <strong>注册</strong>
                                </a>
                                <a class="button is-light">
                                    登录
                                </a>
                            </div>
                        </b-navbar-item>
                    </template>
                </b-navbar>
            </template>


            <template>
                <b-carousel indicator-style="is-lines" icon-pack="icon" icon-next="icon-chevron-right"
                    icon-prev="icon-chevron-left">
                    <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                        <section :class="`hero is-medium is-${carousel.color}`">
                            <div class="hero-body has-text-centered">
                                <h1 class="title">{{ carousel.text }}</h1>
                        </section>
                    </b-carousel-item>
                </b-carousel>
            </template>

            <h3>课程分类</h3>
            <div class="tile is-ancestor">
                <div class="tile is-parent" v-for="item in tiles1">
                    <article class="tile is-child box">
                        <p class="title">{{ item.title }}</p>
                        <p class="subtitle">{{ item.subtitle }}</p>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent" v-for="item in tiles2">
                    <article class="tile is-child box">
                        <p class="title">{{ item.title }}</p>
                        <p class="subtitle">{{ item.subtitle }}</p>
                    </article>
                </div>
            </div>

            <h3>精品公开课</h3>
            <b-tabs position="is-right" size="is-large">
                <b-tab-item label="独立游戏" icon-pack="icon" icon="icon-video-camera">

                    <div class="tile is-ancestor">
                        <div class="tile is-parent" v-for="item in tab1">
                            <div class="tile is-child box">
                                <div class="card">
                                    <div class="card-image  is-clickable" v-on:click="jumpTo('play')">
                                        <figure class="image is-4by3">
                                            <img :src="item.image" alt="占位图">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            <p class="title is-4  is-clickable" v-on:click="jumpTo('play')">
                                                {{ item.title }}</p>
                                            <p class="subtitle is-6">@{{ item.author }}</p>
                                            <section>
                                                <b-tag type="is-primary">unity</b-tag>
                                                <b-tag type="is-info">cocos</b-tag>
                                                <b-tag type="is-secondary">godot</b-tag>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-tab-item>

                <b-tab-item label="游戏设计" icon-pack="icon" icon="icon-gamepad">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent" v-for="item in tab2">
                            <div class="tile is-child box">
                                <div class="card">
                                    <div class="card-image  is-clickable" v-on:click="jumpTo('play')">
                                        <figure class="image is-4by3">
                                            <img :src="item.image" alt="占位图">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            <p class="title is-4  is-clickable" v-on:click="jumpTo('play')">
                                                {{ item.title }}</p>
                                            <p class="subtitle is-6">@{{ item.author }}</p>
                                            <section>
                                                <b-tag type="is-primary">unity</b-tag>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-tab-item>
            </b-tabs>
            
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>eStudy</strong> by <a href="https://github.com/orgs/SoftNotWare">SoftNotWare</a>. The
                    source
                    code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
            </div>
        </footer>
</body>


<script src="js/vue.js"></script>
<script src="js/buefy.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/home.js"></script>

</html>