<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习广场</title>
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/buefy.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="home">
        <div class="container">
            <b-navbar type="is-light" fixed-top>
                <template slot="brand">
                    <b-navbar-item>
                        <img src="image/logo.png" alt="易学习">
                    </b-navbar-item>
                </template>
                <template slot="start">
                    <b-navbar-item href="#">
                        课程库
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        VIP
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        充值
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        师资
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        社区
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        积分商城
                    </b-navbar-item>
                    <b-navbar-dropdown label="帮助">
                        <b-navbar-item href="#">
                            关于
                        </b-navbar-item>
                        <b-navbar-item href="#">
                            联系我们
                        </b-navbar-item>
                    </b-navbar-dropdown>
                </template>

                <template slot="end">
                    <b-navbar-item tag="div" v-if="!isLogin">
                        <section>
                            <b-dropdown position="is-bottom-left" aria-role="menu" trap-focus>
                                <a class="navbar-item" slot="trigger" role="button">
                                    <span>登入</span>
                                    <b-icon icon="caret-down"></b-icon>
                                </a>

                                <b-dropdown-item aria-role="menu-item" :focusable="false" custom paddingless>
                                    <div class="modal-card" style="width:300px;">
                                        <section class="modal-card-body">
                                            <b-field label="邮箱" :type="{'is-danger': isInvalidEmail}"
                                                :message="{'email无效': isInvalidEmail}">
                                                <b-input type="email" placeholder="你的邮箱地址" v-model="email"
                                                    maxlength="32" @input="verifyEmail()" required>
                                                </b-input>
                                            </b-field>

                                            <b-field label="密码" :type="{'is-danger': isInvalidPassword}"
                                                :message="{'密码至少包含 数字和英文，长度6-16': isInvalidPassword}">
                                                <b-input type="password" password-reveal placeholder="你的密码"
                                                    maxlength="16" v-model="password" @input="verifyPassword()"
                                                    required>
                                                </b-input>
                                            </b-field>

                                            <b-checkbox>记住我</b-checkbox>
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-primary" @click="login()">登录/注册</button>
                                        </footer>
                                    </div>
                                </b-dropdown-item>
                            </b-dropdown>
                        </section>
                    </b-navbar-item>

                    <div class="navbar-menu" v-if="isLogin">
                        <div class="navbar-end">
                            <b-dropdown position="is-bottom-left" aria-role="menu">
                                <a class="navbar-item" slot="trigger" role="button">
                                    <span>我的</span>
                                    <b-icon icon="menu-down"></b-icon>
                                </a>

                                <b-dropdown-item custom aria-role="menuitem">
                                    登录为 <b>{{ email }}</b>
                                </b-dropdown-item>
                                <hr class="dropdown-divider">
                                <b-dropdown-item has-link aria-role="menuitem">
                                    <a href="https://google.com" target="_blank">
                                        <b-icon icon="shopping-cart"></b-icon>
                                        购物车
                                    </a>
                                </b-dropdown-item>
                                <hr class="dropdown-divider" aria-role="menuitem">
                                <b-dropdown-item value="settings">
                                    <b-icon icon="gear"></b-icon>
                                    设置
                                </b-dropdown-item>
                                <b-dropdown-item value="logout" aria-role="menuitem">
                                    <b-icon icon="sign-out"></b-icon>
                                    登出
                                </b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </div>
                </template>
            </b-navbar>
            </template>


            <template>
                <b-carousel indicator-style="is-lines">
                    <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                        <section :class="`hero is-medium is-${carousel.color}`">
                            <div class="hero-body has-text-centered">
                                <h1 class="title">{{ carousel.text }}</h1>
                        </section>
                    </b-carousel-item>
                </b-carousel>
            </template>

            <h3>课程分类</h3>
            <div class="tile is-ancestor">
                <div class="tile is-parent" v-for="item in tiles1">
                    <article class="tile is-child box">
                        <p class="title">{{ item.title }}</p>
                        <p class="subtitle">{{ item.subtitle }}</p>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent" v-for="item in tiles2">
                    <article class="tile is-child box">
                        <p class="title">{{ item.title }}</p>
                        <p class="subtitle">{{ item.subtitle }}</p>
                    </article>
                </div>
            </div>

            <h3>精品公开课</h3>
            <b-tabs position="is-right" size="is-large">
                <b-tab-item label="独立游戏" icon="video-camera">

                    <div class="tile is-ancestor">
                        <div class="tile is-parent" v-for="item in tab1">
                            <div class="tile is-child box">
                                <div class="card">
                                    <div class="card-image  is-clickable" @click="jumpTo('play')">
                                        <figure class="image is-4by3">
                                            <img :src="item.image" alt="占位图">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            <p class="title is-4  is-clickable" @click="jumpTo('play')">
                                                {{ item.title }}</p>
                                            <p class="subtitle is-6">@{{ item.author }}</p>
                                            <section>
                                                <b-tag type="is-primary">unity</b-tag>
                                                <b-tag type="is-info">cocos</b-tag>
                                                <b-tag type="is-secondary">godot</b-tag>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-tab-item>

                <b-tab-item label="游戏设计" icon="gamepad">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent" v-for="item in tab2">
                            <div class="tile is-child box">
                                <div class="card">
                                    <div class="card-image  is-clickable" @click="jumpTo('play')">
                                        <figure class="image is-4by3">
                                            <img :src="item.image" alt="占位图">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            <p class="title is-4  is-clickable" @click="jumpTo('play')">
                                                {{ item.title }}</p>
                                            <p class="subtitle is-6">@{{ item.author }}</p>
                                            <section>
                                                <b-tag type="is-primary">unity</b-tag>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-tab-item>
            </b-tabs>


            <footer class="footer">
                <div class="content">
                    <div class="columns">
                        <div class="column is-3">
                            <article class="">
                                <h3>在线教育平台</h3>
                                <p>专业、热情</p>
                            </article>
                        </div>
                        <div class="column is-2">
                            <ul v-for="item in footersupport">
                                <li>{{ item }}</li>
                            </ul>
                        </div>
                        <div class="column is-2">
                            <ul v-for="item in footerhelp">
                                <li>{{ item }}</li>
                            </ul>
                        </div>
                        <div class="column is-2">
                            <ul v-for="item in footerabout">
                                <li>{{ item }}</li>
                            </ul>
                        </div>
                        <div class="column is-3">
                            <h3>友情链接</h3>
                            <ul v-for="item in footerlinks">
                                <li>{{ item }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="has-text-centered">
                    <strong>eStudy</strong> by <a href="https://github.com/orgs/SoftNotWare">SoftNotWare</a>. The
                    source
                    code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
            </footer>
        </div>
    </div>


    <script src="js/vue.js"></script>
    <script src="js/buefy.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/sha256.min.js"></script>
    <script src="js/home.js"></script>
</body>

</html>